* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  margin: 4rem auto;
  width: 90%;
}

.rc-table-thead .rc-table-cell {
  background-color: #000;
  color: #eee;
  padding: 0.5rem 0;
}
.rc-table-tbody .rc-table-cell {
  background-color: #eee;
  padding: 0.5rem 0;
}

.rc-table-row,
.rc-table-cell {
  border: 1px dotted black;
  text-align: center;
}

/* tbody .rc-table-cell {
  max-width: 650px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
} */
